In [1]:
import pandas as pd
import numpy as np

## Functions

In [11]:
def simple_moving_average(n, df):
    last_year = df["Year"].max()
    new_df = df.tail(n)
    
    for i in range(1, 7):
        mean_electricity = new_df["Electricity (Million kilowatt-hour)"].tail(n).mean()
        new_row = {"Year": last_year + i, "Electricity (Million kilowatt-hour)": mean_electricity}
        new_df.loc[len(new_df)] = new_row

    return new_df.tail(6)


def weighted_moving_average():
    pass

## Data

In [12]:
data = pd.read_csv("Data.csv")
data

    Year  Electricity (Million kilowatt-hour)
0   1344                                  816
1   1345                                 1062
2   1346                                 1409
3   1347                                 1924
4   1348                                 2562
5   1349                                 3418
6   1350                                 4519
7   1351                                 5723
8   1352                                 7796
9   1353                                 9152
10  1354                                10447
11  1355                                11734
12  1356                                13066
13  1357                                14145
14  1358                                15917
15  1359                                16383
16  1360                                18234
17  1361                                21753
18  1362                                25153
19  1363                                28176
20  1364                                30812
21  1365                                32619
22  1366                                34740
23  1367                                36147
24  1368                                39956
25  1369                                45107
26  1370                                48757
27  1371                                52306
28  1372                                58114
29  1373                                63625
30  1374                                65854
31  1375                                69671
32  1376                                73358
33  1377                                77646
34  1378                                84656
35  1379                                90366
36  1380                                97171
37  1381                               105064
38  1382                               114625
39  1383                               125528
40  1384                               132898
41  1385                               144581
42  1386                               152329
43  1387                               161445
44  1388                               168432
45  1389                               184182
46  1390                               183905
47  1391                               194149
48  1392                               203088
49  1393                               219653
50  1394                               227312
51  1395                               237436
52  1396                               255026

In [10]:
simple_moving_average(3, data)

In [10]:
simple_moving_average(3, data)

C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row
C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row
C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row
C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row
C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row
C:\Users\Nassrin Sharifi\AppData\Local\Temp\ipykernel_5744\3012932717.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = new_row

   Year  Electricity (Million kilowatt-hour)
3  1397                        239924.666667
4  1398                        244128.888889
5  1399                        246359.851852
6  1400                        243471.135802
7  1401                        244653.292181
8  1402                        244828.093278